<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>items</key>
      <array>
             <dict>
                  <key>cell</key>             <string>PSButtonCell</string>
                  <key>label</key>            <string>Primary Color</string>
                  <key>action</key>           <string>selectPrimaryColor</string>
            </dict>
            <dict>
                  <key>cell</key>             <string>PSButtonCell</string>
                  <key>label</key>            <string>Secondary Color</string>
                  <key>action</key>           <string>selectSecondaryColor</string>
            </dict>
	</array>
	<key>title</key>
	<string>Beat Visualizer Settings</string>
</dict>
</plist>