<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>items</key>
      <array>
	<dict>
            <key>cell</key>
            <string>PSLinkCell</string>
            <key>cellClass</key>
            <string>PFColorCell</string>
            <key>label</key>
            <string>Primary Color</string>
            <key>color_defaults</key>
            <string>com.joshdoctors.prism</string>
            <key>color_key</key>
            <string>beatPrimaryColor</string>
            <key>title</key>
            <string>Primary Color</string>
            <key>color_fallback</key>
            <string>#000000</string>
            <key>usesRGB</key>
            <true/>
            <key>usesAlpha</key>
            <true/>
            <key>color_postNotification</key>
            <string>com.joshdoctors.prism/settingschanged</string>
      </dict>
      <dict>
            <key>cell</key>
            <string>PSLinkCell</string>
            <key>cellClass</key>
            <string>PFColorCell</string>
            <key>label</key>
            <string>Secondary Color</string>
            <key>color_defaults</key>
            <string>com.joshdoctors.prism</string>
            <key>color_key</key>
            <string>beatSecondaryColor</string>
            <key>title</key>
            <string>Secondary Color</string>
            <key>color_fallback</key>
            <string>#FF0000</string>
            <key>usesRGB</key>
            <true/>
            <key>usesAlpha</key>
            <true/>
            <key>color_postNotification</key>
            <string>com.joshdoctors.prism/settingschanged</string>
      </dict>
	</array>
	<key>title</key>
	<string>Beat Visualizer Settings</string>
</dict>
</plist>