<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>items</key>
	<array>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>Prism</string>
		</dict>
		<dict>
			<key>PostNotification</key>
			<string>com.joshdoctors.prism/settingschanged</string>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<false/>
			<key>defaults</key>
			<string>com.joshdoctors.prism</string>
			<key>key</key>
			<string>enableTweak</string>
			<key>label</key>
			<string>Enable Tweak</string>
		</dict>
		<dict>
			<key>PostNotification</key>
			<string>com.joshdoctors.prism/settingschanged</string>
			<key>cell</key>  		<string>PSLinkListCell</string>
			<key>defaults</key> 	<string>com.joshdoctors.prism</string>
 			<key>detail</key> 		<string>PSListItemsController</string>
 			<key>key</key> 			<string>colorStyle</string>
 			<key>label</key> 		<string>Color Styles</string>
 			<key>validTitles</key> <array>
 				<string>My Own</string>
 				<string>ColorFlow Generated</string>
 				<string>Prism Generated</string>
 				<string>Random</string>
 			</array>
 			<key>validValues</key>
 			<array>
				<real>0</real>
 				<real>1</real>
 				<real>2</real>
 				<real>3</real>
 			</array>
 			<key>id</key>
			<string>styleList</string>
		</dict>
		<dict>
			<key>PostNotification</key>
			<string>com.joshdoctors.prism/settingschanged</string>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<false/>
			<key>defaults</key>
			<string>com.joshdoctors.prism</string>
			<key>key</key>
			<string>overlayAlbumArt</string>
			<key>label</key>
			<string>Overlay Album Art</string>
		</dict>
		<dict>
            <key>cell</key>             <string>PSButtonCell</string>
            <key>label</key>            <string>Overlay Color</string>
            <key>action</key>           <string>selectOverlayColor</string>
        </dict>
        <dict>
        	<key>cell</key>
        	<string>PSGroupCell</string>
        	<key>footerText</key>
        	<string>The higher the slider value, the more visible the visualizer. Default is 100. Perform a respring after enabling or disabling the tweak. Selecting the 'My Own' color option will use the colors you have set yourself in the visualizer theme settings. Selecting the 'ColorFlow Generated' color option will use ColorFlow to determine the visualizer color. If you do not have ColorFlow installed OR ColorFlow does not support this current iOS version, colors will not be properly generated. Selecting the 'Prism Generated' color option will let this tweak determine the colors based off of the album artwork. Selecting the 'Random' color option will have this tweak generate random colors for each song. </string>
        </dict>
        <dict>
        	<key>cell</key>
        	<string>PSSliderCell</string>
        	<key>default</key>
        	<integer>100</integer>
        	<key>showValue</key>
        	<true/>
        	<key>max</key>
        	<integer>100</integer>
        	<key>min</key>
        	<integer>0</integer>
        	<key>PostNotification</key>
        	<string>com.joshdoctors.prism/settingschanged</string>
        	<key>defaults</key>
        	<string>com.joshdoctors.prism</string>
        	<key>key</key>
        	<string>transparency</string>
        </dict>
		<dict>
			<key>PostNotification</key>
			<string>com.joshdoctors.prism/settingschanged</string>
			<key>cell</key>  		<string>PSLinkListCell</string>
			<key>defaults</key> 	<string>com.joshdoctors.prism</string>
 			<key>detail</key> 		<string>PSListItemsController</string>
 			<key>key</key> 			<string>theme</string>
 			<key>label</key> 		<string>Visualizer Themes</string>
 			<key>validTitles</key> <array>
 				<string>Beat</string>
 				<string>Spectrum</string>
 			</array>
 			<key>validValues</key>
 			<array>
				<real>0</real>
 				<real>1</real>
 			</array>
 			<key>id</key>
			<string>themeList</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSLinkCell</string>
			<key>detail</key>
			<string>BeatSettingsListController</string>
			<key>icon</key>
			<string>backgroundicon@2x.png</string>
			<key>isController</key>
			<true/>
			<key>key</key>
			<string>BeatSettings</string>
			<key>label</key>
			<string>Beat Settings</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSLinkCell</string>
			<key>detail</key>
			<string>SpectrumSettingsListController</string>
			<key>icon</key>
			<string>backgroundicon@2x.png</string>
			<key>isController</key>
			<true/>
			<key>key</key>
			<string>SpectrumSettings</string>
			<key>label</key>
			<string>Spectrum Settings</string>
		</dict>
		<dict>
            <key>cell</key>             <string>PSButtonCell</string>
            <key>label</key>            <string>Restart Music App</string>
            <key>action</key>           <string>respring</string>
        </dict>
	</array>
	<key>title</key>
	<string>Options</string>
</dict>
</plist>
