<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>items</key>
      <array>
      <dict>
            <key>PostNotification</key>
            <string>com.joshdoctors.prism/settingschanged</string>
            <key>cell</key>         <string>PSLinkListCell</string>
            <key>defaults</key>     <string>com.joshdoctors.prism</string>
            <key>detail</key>             <string>PSListItemsController</string>
            <key>key</key>                <string>spectrumStyle</string>
            <key>label</key>        <string>Style</string>
            <key>validTitles</key> <array>
                  <string>Linear</string>
                  <string>Linear Symmetric</string>
                  <string>Radial</string>
                  <string>Radial Symmetric</string>
            </array>
            <key>validValues</key>
            <array>
                  <real>0</real>
                  <real>1</real>
                  <real>2</real>
                  <real>3</real>
            </array>
            <key>id</key>
            <string>spectrumStyle</string>
      </dict>
      <dict>
            <key>cell</key>             <string>PSEditTextCell</string>
            <key>defaults</key>         <string>com.joshdoctors.prism</string>
            <key>key</key>              <string>spectrumBarCount</string>
            <key>label</key>            <string>Number of Bars</string>
            <key>PostNotification</key> <string>com.joshdoctors.prism/settingschanged</string>
      </dict>
      <dict>
            <key>cell</key>             <string>PSButtonCell</string>
            <key>label</key>            <string>Save</string>
            <key>action</key>           <string>save</string>
      </dict>
	<dict>
            <key>cell</key>
            <string>PSLinkCell</string>
            <key>cellClass</key>
            <string>PFColorCell</string>
            <key>label</key>
            <string>Primary Color</string>
            <key>color_defaults</key>
            <string>com.joshdoctors.prism</string>
            <key>color_key</key>
            <string>spectrumPrimaryColor</string>
            <key>title</key>
            <string>Primary Color</string>
            <key>color_fallback</key>
            <string>#FF0000</string>
            <key>usesRGB</key>
            <true/>
            <key>usesAlpha</key>
            <true/>
            <key>color_postNotification</key>
            <string>com.joshdoctors.prism/settingschanged</string>
      </dict>
	</array>
	<key>title</key>
	<string>Spectrum Visualizer Settings</string>
</dict>
</plist>